
{
	box-sizing:border-box;
}

html,body{
	width:auto;
	height:auto;
}

body{
	background: #ede7cc;
}

p{
	font-family : "Raleway", sans-serif;
	font-size:1em;
    text-align: center;
}

#textdiv {
    margin: 10%
}

.invert {
  position: absolute;
  background: #ccc;
  bottom: 0;
  z-index: 1;
  right: 0;
  padding: .5em 1em;
  font-family: 'Raleway', sans-serif;
}

input, label {
  vertical-align: middle;
  line-height: 28px;
}

.block {
  display: block;
  font-family: 'Raleway';
  width: 100%;
  border: none;
  background-color: white; 
  opacity: 50%;
  padding: 14px 28px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  z-index: 1000;
}

.block:hover {
  background-color: black;
  opacity: 50%;
  color: white;
}

a:link, a:visited {
  color: grey;
  text-decoration: none;
  cursor: grab;
}

a:link:active, a:visited:active {
  color: grey;
 text-decoration: none;
}