@font-face {
    font-family: 'Skia';
    src: url('Skia.woff2') format('truetype');
    font-style: normal;
    /*font-display: swap;*/
  }

body {
    font-family: 'Skia';
    font-size: 2em;
    margin: 4%;
    background-color: #82739a;
}

#div {
    /*border: #833037 solid 3px;
    padding: 50px;*/
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

#div2 {
    text-align: left;
    color: #fff;
}

#heading {
    color: white;
    font-weight: 500;
    text-align: left;
    font-size: 1.5em;
    order: 1;
}

#title {
    font-weight: 300;
    font-size: 7em;
    color: #ddba60;
}

#contents {
    font-weight: 600;
    font-size: 5em;
    color: white;
    position: absolute;
    translate: 400px -55px;
}

#number {
    font-weight: 400;
    font-size: 5em;
    color: #b98aab;
}

#caption { 
    color: #ddba60;
    font-size: 0.7em;
    font-weight: 700;
    text-align: left;
}

hr {
    border-top: 5px dotted #b98aab;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

